@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body, html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

small {
  font-size: 0.5rem;
}

:root {
  --container-height: 600px;
  --contaier-width: 400px;
  --header-height: 150px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-image: url(images/background.jpg);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  background-color: antiquewhite;
  width: var(--contaier-width);
  height: var(--container-height);

  position: relative;
  overflow: hidden;
}

header {
  height: var(--header-height);
  background-image: url(images/todo\ back.jpg);
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.new-todo {
  height: 50px;
  padding: 0.25rem 0;
}

input[type="date"]{
  background-color: #0080ff;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  padding-left: 1rem;
}



.new-todo form {
  display: flex;
  align-items: center;
}

.new-todo form input {
  flex: 1;
  flex-direction: column;
  height: 40px;
  border: none;
  border-right: 0px;
  padding-left: 1rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.new-todo form button {
  width: 60px;
  height: 40px;
  font-size: 1rem;
  background-color: transparent;
  color: rgb(25, 4, 255);
  border: none;
  border-left: 0px;
  cursor: pointer;
}

.new-todo form button:hover {
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#todos-list {
  height: calc(var(--container-height) - var(--header-height));
  background-color: rgb(105, 224, 240);
  padding: 0.5rem;
  border: 1px solid rgb(219, 219, 219);
  overflow: auto;
  border-radius: 0 0 5px 5px;
}

#todos-list .todo {
  display: flex;
  align-items: baseline;
  padding: 0.75rem 0.5rem;
  border-radius: 5px;
}

.date {
  color: white;
}

#todos-list .todo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#todos-list .todo * {
  cursor: pointer;
  margin-right: 0.5rem;
}

#todos-list .todo i {
  font-size: 0.9rem;
}

#todos-list .todo p {
  flex: 1;
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  color: grey;
}

#todos-list .todo .bi-pencil-square {
  color: rgb(31, 177, 48);
}

#todos-list .todo .bi-trash {
  color: rgb(236, 82, 82);
  margin: 0;
}

.notification {
  position: absolute;
  width: calc(3 * var(--contaier-width) / 4);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  border-radius: 8px;
  background-color: rgb(233, 81, 81);
  top: 10px;
  right: calc(-3 * var(--contaier-width) / 4);
  color: rgb(12, 8, 8);
  transition: 300ms right ease-in-out;
}

.notif-enter {
  right: 10px;
}

/* REUSABLE CSS */
.w-full {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}