@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body, html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

small {
  font-size: 0.5rem;
}

:root {
  --container-height: 600px;
  --contaier-width: 400px;
  --header-height: 150px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-color: rgb(246, 246, 246);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  margin-bottom: 1.5rem;
}

.container {
  box-shadow: 4px 2px 13px 1px rgb(151 151 151 / 75%);
  -webkit-box-shadow: 4px 2px 13px 1px rgb(151 151 151 / 75%);
  -moz-box-shadow: 4px 2px 13px 1px rgba(151,151,151,0.75);
  border-radius: 0.5rem;
  margin-top: 2rem;
  width: var(--contaier-width);
  position: relative;
  overflow: hidden;
}

header {
  /* background-image: url(images/todo\ back.jpg); */
  /* background-size: cover; */
  background-color: rgb(241, 239, 239);
  border-radius: 5px 5px 0 0;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.new-todo {
  padding: 0.25rem 0;
}

.new-todo form {
  display: flex;
  align-items: center;
  position: relative;
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
}

#todos-list {
  background-color: rgb(105, 224, 240);
  padding: 0.5rem;
  border: 1px solid rgb(219, 219, 219);
  overflow: auto;
  border-radius: 0 0 5px 5px;
  min-height: 150px;
}

#todos-list .todo {
  display: flex;
  align-items: baseline;
  padding: 0.75rem 0.5rem;
  border-radius: 5px;
}

.date {
  color: white;
}

#todos-list .todo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#todos-list .todo * {
  cursor: pointer;
  margin-right: 0.5rem;
}

#todos-list .todo i {
  font-size: 0.9rem;
}

#todos-list .todo p {
  flex: 1;
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  color: grey;
}

#todos-list .todo .bi-pencil-square {
  color: rgb(31, 177, 48);
}

#todos-list .todo .bi-trash {
  color: rgb(236, 82, 82);
  margin: 0;
}

.notification {
  position: absolute;
  width: calc(--container-width);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  border-radius: 8px;
  background-color: rgb(255, 0, 0);
  top: 10px;
  right: calc(--container-width);
  color: rgb(12, 8, 8);
  transition: 300ms right ease-in-out;
}

.notif-enter {
  right: 10px;
}

.input-box {
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;
  margin-top: 1rem;
}

label {
  font-size: 0.7rem;
  margin-left: 0.2rem;
}

input {
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  border: 1px solid rgb(170, 170, 170); 
}

#saveButton {
  border-radius: 0.5rem;
  background-color: #5648f4;
  color: white;
  font-size: 5rem;
  border: none;
  border-left: 0px;
  cursor: pointer;
  position: absolute;
  right: -0.5rem;
  width: 100px;
  top: 2.3rem;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#saveButton:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
}

#saveButton:focus {
  transform: scale(0.95);
}

#sort {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.action-bar {
  display: none;
  align-items: center;
  justify-content: flex-end;
  padding: 0.2rem 1rem;
  border: 1px solid rgb(182, 182, 182);
  position: relative;
}

.toggleActions {
  cursor: pointer;
}

.action-box {
  position: absolute;
  top: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(182, 182, 182);
  background-color: white;
  box-shadow: 4px 2px 13px 1px rgb(151 151 151 / 75%);
  -webkit-box-shadow: 4px 2px 13px 1px rgb(151 151 151 / 75%);
  -moz-box-shadow: 4px 2px 13px 1px rgba(151,151,151,0.75);
  height: 0;
  visibility: hidden;
  transition: height 0.3s ease-in-out, visibility 0.3s ease-in-out;
  overflow: hidden;
}

.open {
  height: 130px;
  visibility: visible;
}

.action-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.action-item:hover {
  background-color: rgb(231, 230, 230);
}

.action-item:focus {
  background-color: rgb(117, 117, 117);
}

.deleteAll {
  color: rgb(243, 82, 82);
}

/* REUSABLE CSS */
.w-full {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.ml-auto {
  margin-left: auto;
}